/* 
    Created on : Mar 19, 2014, 7:44:20 PM
    Author     : Mikael Wide
*/
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #E0F2FF;
    width:900px;
}

#header {
    float: right;
    height:100px;
    min-width: 100%;
    text-align: center;
}
#right {
    float:right;
    width:650px;
    border:1px solid #99ccff;
    background-color: #fff;
    margin:10px 0;
}
#left {
    width:200px;
}

.box {
    margin-top:10px;
    padding:0.5em;
}
#content h2, #content p {
    margin:0;
    padding:0.5em;
}